* {
  font-family: "m6x11Plus";
}

@font-face {
  font-family: "m6x11Plus";
  src: url(../fonts/m6x11plus.ttf);
}

body {
  padding: 0;
  margin: 0;
  font-size: 4vh;
  user-select: none;
  background-color: rgb(61, 83, 61);
  overflow: hidden;
}

/*SIDE CONTENT*/

#sideContent {
  width: 25vw;
  height: 100vh;
  float: left;
}

#handType {
  text-align: center;
  color: white;
  font-size: 7vh;
  float: left;
  width: 100%;
}

#scoreSection {
  color: white;
  float: left;
  width: 100%;
}

#scoreSection > * {
  width: 50%;
  float: left;
  color: white;
  text-align: center;
  font-size: 3.6vh;
  box-shadow: 0 0 0 0.2vh inset black;
}

#infoSection {
  width: 90%;
  height: 100%;
  background-color: rgb(38, 39, 43);
  display: block;
  margin: auto;
}

#scoreSection > .smallAmountBox {
  width: calc(100% / 3);
}

#scoreSection > #finalScore {
  width: 100%;
  font-size: 6vh;
  box-shadow: none;
}

#chipsAmount {
  background-color: rgb(0, 144, 252);
}

#multAmount {
  background-color: rgb(250, 74, 63);
}

#finalScore {
  background-color: rgb(56, 56, 56);
}

#tarotAmount {
  background-color: rgb(147, 112, 199);
}

#planetAmount {
  background-color: rgb(3, 147, 183);
}

#moneyAmount {
  background-color: rgb(242, 144, 2);
}

#addMultipleCardsSection {
  float: left;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}

#cardCount {
  color: black;
  font-size: 3vh;
  width: auto;
  text-align: center !important;
  text-decoration: none;
}

#cardCountText {
  margin: 0;
  font-size: 5vh;
}

/*JOKER SECTION*/

#jokerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  height: 20vh;
  float: left;
}

/*MAIN CONTENT*/

#mainContent {
  height: 80vh;
  width: 75vw;
  display: flex;
  justify-content: center;
}

#mainContent #mainUI {
  width: 95%;
  height: 100%;
}

#activeJokersHeader {
  width: 75%;
  height: 15vh;
  border-radius: 3vh;
  background-color: rgba(37, 37, 37, 0.8);
  float: left;
}

#ButtonUI {
  width: 100%;
  height: 20%;
  background-color: rgb(26, 26, 26);
  border-top-right-radius: 3vh;
  border-top-left-radius: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cardsMain {
  width: 100%;
  height: 80%;
  background-color: rgb(29, 29, 29);
  float: left;
  border-top-right-radius: 3vh;
  border-top-left-radius: 3vh;
}

.sectionListButtons {
  height: 80%;
  width: 15%;
  flex: 1;
  margin: 0 1%;
  background-color: rgb(218, 29, 0);
  border: none;
  font-size: 5vh;
  border-radius: 3vh;
  text-align: center;
}

#sectionListUI {
  width: 100%;
  height: 80%;
  display: flex;
}

.editGameSections {
  display: none;
  width: 100%;
  height: 100%;
}

.selectedSection {
  display: flex !important;
  
}

#addJokersSection{
    display: none;
    flex-direction: column;
}

.borderedButton {
  box-shadow: inset 0 0 0 0.2vh white;
}

#ButtonUI button:hover {
  background-color: rgb(243, 33, 1);
  box-shadow: inset 0 0 0 0.3vh rgb(255, 195, 195);
  cursor: pointer;
}

.addCardsSuitTypes {
  display: flex;
  position: relative;
  overflow: visible;
  width: 100%;
  height: 12.5vh;
  padding-left: 0;
  justify-content: center;
  align-items: center;
}

#addCardsSection {
  width: 70%;
  height: 100%;
  display: block;
}

.addCardsSuitTypes > * {
  float: left;
  width: 8.76vh;
  height: 12vh;
  margin-left: -3vh;
  box-shadow: 0 0 0 0.1vh rgb(63, 66, 92);
  border-radius: 0.4vh;

  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  z-index: 0;
}

.addCardsSuitTypes > *:first-child {
  margin-left: 0;
}

.addCardsSuitTypes > *:last-child {
  z-index: 10;
}

.addCardsSuitTypes > *:hover {
  cursor: pointer;
  z-index: 11;
  background-size: 9.12vh 12.5vh;

  transform: scale(1.05);
}

.addCardsSuitTypes > *:hover + * {
  margin-left: 0vh;
}

#activeCardsSection {
  width: 100%;
  height: 20%;
  background-color: rgb(37, 37, 37);

  border-bottom-left-radius: 3vh;
  border-bottom-right-radius: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickedCards {
  align-self: baseline;
}

#currentCardsSection {
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: center;
  float: left;
}

#currentCardsSection > * {
  float: left;
  width: 9.49vh;
  height: 13vh;
  box-shadow: inset 0 0 0 0.1vh rgb(63, 66, 92);
  border-radius: 0.4vh;
  z-index: 1;

  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;

  position: relative;
  z-index: 0;
}

#currentCardsSection > *:hover {
  cursor: pointer;
  z-index: 50 !important;
}

#cardModifiersSection {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardModifiers {
  width: calc(100% / 3 - 2%);
  height: 80%;
  display: block;
  background-color: aliceblue;
  text-align: center;
}

.modifierText {
  font-size: 3vh;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: baseline;
  background-color: rgb(116, 116, 121);
  box-shadow: 0 0 0 0.2vh black;
  margin: 0;
}

.modifierSelect {
  width: 100%;
  height: 85%;
  background-color: rgb(44, 44, 45);
  margin: 0;

  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  box-shadow: 0 0 0 0.2vh black;
}

.modifierIcon {
  width: 95%;
  aspect-ratio: 138 / 186;
  background-size: 100% 100%;
  background-repeat: no-repeat, no-repeat;
  box-shadow: inset 0 0 0 0.3vh rgb(0, 0, 0);
  border-radius: 1vh;
}

.modifierIcon:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 0.3vh rgb(255, 195, 195);
}

.chosenModifier {
  box-shadow: inset 0 0 0 0.4vh rgb(0, 255, 0) !important;
}

.seals {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-repeat: no-repeat;
  background-size: inherit;
  z-index: 2;
  position: absolute;
}

.editions {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-size: inherit;
  z-index: 1;
  position: absolute;
}

#jokerSearchWrapper{
  display: flex;
  height: 20%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#jokerSearch{
  width: 95%;
  height: 70%;
  font-size: 8vh; 
  text-align: center;
}

.currentJokerPage {
  display: grid !important; 
}

.singularJokerPage {
  display: none;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  margin: auto; 
}

#jokerPages {
  flex: 1;
  height: 100%;
}

#changeJokerPage {
  display: flex;
  height: 20%;
  width: 100%;
}

.joker{
    display: flex;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.joker:hover{
    cursor: pointer;
}

.changeJokerPageButtons {
  width: 10%;
  height: 100%;
  background-color: red;
  color: black;
  font-size: 500%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

}

.changeJokerPageButtons:hover{
    cursor: pointer;
    background-color: rgb(247, 0, 0);
}

#jokerPageWrapper {
  display: flex;
  align-items: center;   
  width: 100%;
  height: 80%;       
}