*{
    font-family: 'm6x11Plus';
}

@font-face {
    font-family: 'm6x11Plus';
    src: url(../fonts/m6x11plus.ttf);
    
}

body{
    padding: 0;
    margin: 0;
    font-size: 4vh;
    user-select: none;
    background-color: rgb(61, 83, 61);
    overflow: hidden;
}

#sideContent{
    width: 25vw;
    height: 100vh;
    float: left;
    
}

#jokerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
    height: 20vh;
    float: left;
}


#mainContent{
    height: 80vh;
    width: 75vw;
    display: flex;
    justify-content: center;
    
}

#mainContent #mainUI{
    width: 90%;
    height: 100%;
}

#infoSection{
    width: 65%;
    height: 100%;
    background-color: rgb(38, 39, 43);
    display: block;
    margin: auto;
}

#activeJokersHeader{
    width: 75%;
    height: 15vh;
    border-radius: 3vh;
    background-color: rgba(37, 37, 37, 0.8);
    float: left;
}

#cardsMain{
    width: 100%;
    height: 80%;
    background-color: rgb(29, 29, 29);
    float: left;
    border-top-right-radius: 3vh;
    border-top-left-radius: 3vh;
}




#cardSelectionUI{
    width: 100%;
    height: 20%;
    background-color: rgb(26, 26, 26);
    border-top-right-radius: 3vh;
    border-top-left-radius: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cardSelectionButtons{
    height: 80%;
    flex: 1;
    margin: 0 1%;
    background-color: rgb(218, 29, 0);
    border: none;
    font-size: 5vh;
    border-radius: 3vh;
    text-align: center;
    
}

#editCardsSection{
    width: 100%;
    height: 80%; 
    display: flex;
}

#highContrastCards{
    display: block;
}

#lowContrastCards{
    display: none;
}

.editCardsSections{
    display: none;
    float: left;
    width: 100%;
    height: 100%;
}

.selectedSection{
    display: flex;
}

.borderedButton{
    box-shadow: inset 0 0 0 0.2vh white;
}

#cardSelectionUI button:hover{
    background-color: rgb(243, 33, 1);
    box-shadow: inset 0 0 0 0.3vh rgb(255, 195, 195);
    cursor: pointer;
}



.cardsUI {
  display: flex;       
  position: relative;
  overflow: visible;   
  width: 100%;         
  height: 12.5vh;         
  padding-left: 0;  
  justify-content: center;
  align-items: center;    
}


.cardsUI > * {
  float: left;
  width: 8.76vh;                     
  height: 12vh;                     
  margin-left: -2vh;   
  box-shadow: 0 0 0 0.1vh rgb(63, 66, 92);    
  border-radius: 0.4vh;    
  
  background-repeat: no-repeat;
  background-size: 8.76vh 12vh;       
  
  position: relative;
  z-index: 0;
}

.cardsUI > *:first-child {
  margin-left: 0;
}


.cardsUI > *:last-child {
  z-index: 10;
}

.cardsUI > *:hover {
  cursor: pointer;
  z-index: 11;
  background-size: 9.12vh 12.5vh;  

  transform: scale(1.05);   
}

.cardsUI > *:hover + * {
  margin-left: 0vh; 
}

#allCardsSection{
    width: 80%;
    height: 100%;
    display: block;
}

#activeCardsSection{
    width: 100%;
    height: 20%;
    background-color: rgb(37, 37, 37);
    
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    display: flex;
    align-items:center;
    justify-content: center;
}





.pickedCards{
    align-self: baseline;
}

#currentCardsSection{
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    float: left;
}

#currentCardsSection > *{
  
  width: 9.49vh;                     
  height: 13vh;                     
  margin-left: 0.75vh;   
  box-shadow: inset 0 0 0 0.1vh rgb(63, 66, 92);   
  border-radius: 0.4vh;       
  
  background-repeat: no-repeat, no-repeat;
  background-size: 9.49vh 13vh, 9.49vh 13vh;       
  
  position: relative;
  z-index: 0;
  
}


#currentCardsSection > *:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.crampedCards{
    margin: -1vh;
}

#cardModifiersSection{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.cardModifiers {
    width: calc(100% / 3 - 2%);
    height: 80%;
    display: block;
    background-color: aliceblue;
    text-align: center;
}

.modifierText {
    font-size: 3vh;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: baseline;
    background-color: rgb(116, 116, 121);
    box-shadow: 0 0 0 0.2vh black;
    margin: 0;

}

.modifierSelect {
    width: 100%;
    height: 85%;
    background-color: rgb(44, 44, 45);
    margin: 0;

    display: grid;
    grid-template-columns: 50% 50%; 
    justify-items: center;       
    align-items: center;         
    box-shadow: 0 0 0 0.2vh black;
}

.modifierIcon {
    width: 95%;                    
    aspect-ratio: 138 / 186;       
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    box-shadow: inset 0 0 0 0.3vh rgb(0, 0, 0);
    border-radius: 1vh;
}

.modifierIcon:hover{
    cursor: pointer;
    box-shadow: inset 0 0 0 0.3vh rgb(255, 195, 195);
}

.chosenModifier{
    box-shadow: inset 0 0 0 0.4vh rgb(0, 255, 0) !important;
}

.seals{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-repeat: no-repeat;
    background-size: contain;   
    z-index: 2; 
    position: absolute;
}

.editions{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: inherit;  
    z-index: 1;  
    position: absolute;
    
}